body
{
    margin: 0;
    font-family: 'Rokkitt', serif  !important;
}
header
{
    position: sticky;
    top: 0;
    z-index: 1;
}
main
{
    display: flex !important;
    justify-content: center;
    background-color: black;
    align-items: center;
    height:100px ;
}
.img
{
    width: 98px;
    height: 74px;
    background-position: center;
    background-size: cover;
    background-color: black;
}
.navbar
{
    background-color: black; 
}
 a.nav-item.nav-link.active
{
    color: white !important;
}
 .collapse > .navbar-nav > a.nav-item.nav-link.active:hover
{
    color:  #E0CEB5 !important;
}
.navbar-toggler img
{
   width: 23px;
   margin: 0 -38px;
   cursor: pointer;

}
.collapse 
{
    justify-content: space-around;
}
.card
{
    border: none !important;
}
.card-img
{
    border-radius:0px !important;
} 
.title
{
    justify-content: center;
    margin: 30px;
}
.title > h3
{
    text-align: center;
}
.container
{
  padding: 0 !important;
}
.card-deck, container
{
    /* margin: 8px !important; */
    justify-content: center ;
    display: flex !important;
    flex-wrap: wrap !important;
}
.img-fluid
{
    /* width:341px; */
    min-width:300px !important;
    max-width: 450px !important;
    height:400px !important;
    background-position: center;
    background-size: cover;
    margin: 16px;
    text-align: center !important;
}  
.card-deck > .card.img-fluid strong
{
    margin-top:166px;
    text-align: center;
    font-size: 30px;
    color: white;
    display: none;
    text-decoration: none !important;
    text-shadow: 2px 2px 4px #000000;
    
   
}   
.card-deck > .card.img-fluid:hover strong
{
    display: inline;
    text-align: center !important;
    
}
.card-deck > a:link
{
    text-decoration: none !important;
}
.card-deck > .card.img-fluid:hover 
{
   opacity: 0.9;
   
}
.web-details
{
    background-color: #ded1c3 !important;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
}
.web-details > h5 
{
    font-size: 16px;
    text-align: center;
}
.web-details a
{
    text-decoration: underline;
    color: black !important;
}
 footer .web-details > h5 em a:hover 
{
    color: black !important ;
}
.info
{
    background-color: #555;
    color: #ccc;
    text-align: center;
    padding: 20px 0;
    font-size: 13px;
}
.info > h5
{
     color: #fff;
     font-size: 17px;
}
.breadcrumb, .follow-us
{
    justify-content: center;
    margin: 0 !important;
    background-color: black !important;
    margin-top: 10px;
    border-radius: 0 !important;
    padding-top: 10px !important;
    
    
}
.breadcrumb > .breadcrumb-item > a
{
    color: #fff !important;
    font-size: 15px;
}
nav > .breadcrumb > .breadcrumb-item a:hover
{
    text-decoration:none; 
    color: #E0CEB5 !important;
}
.logo
{
   width: 23px;
   margin: 0 6px;
}

